html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
html,
body {
  width: 100%;
  height: 100%;
}
.foot1 {
  width: 100%;
  min-width: 1200px;
  height: 214px;
  background: #666;
}
.foot1 .foot1-main {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
.foot1 .foot1-main div {
  float: left;
  height: 100%;
}
.foot1 .foot1-main .foot1-main-left {
  width: 20%;
  text-align: center;
  overflow: hidden;
}
.foot1 .foot1-main .foot1-main-left .foot1-main-left-logo {
  width: 55px;
  height: 54px;
  margin-top: 20px;
}
.foot1 .foot1-main .foot1-main-left .foot1-main-left-logotext {
  width: 212px;
  height: 34px;
  margin-top: 10px;
}
.foot1 .foot1-main .foot1-main-left .foot1-main-left-text {
  width: 124px;
  height: 67px;
  margin-top: 10px;
}
.foot1 .foot1-main .foot1-main-mid {
  width: 60%;
  position: relative;
}
.foot1 .foot1-main .foot1-main-mid .long-string {
  height: 80px;
  width: 0;
  border-right: 1px solid white;
  margin-top: 75px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.foot1 .foot1-main .foot1-main-mid .mid-main div {
  width: 20%;
  height: 80%;
  float: left;
  text-align: center;
  margin-top: 40px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left1 p,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left2 p,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-mid p,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right1 p,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right2 p {
  position: relative;
  color: #ccc;
  font-size: 12px;
  line-height: 20px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left1 p span:first-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left2 p span:first-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-mid p span:first-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right1 p span:first-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right2 p span:first-child {
  position: relative;
  left: -7px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left1 p span:last-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left2 p span:last-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-mid p span:last-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right1 p span:last-child,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right2 p span:last-child {
  position: relative;
  right: -18px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left1 .active,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left2 .active,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-mid .active,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right1 .active,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right2 .active {
  font-size: 14px;
  line-height: 40px;
}
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left1 .piaoliu,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-left2 .piaoliu,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-mid .piaoliu,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right1 .piaoliu,
.foot1 .foot1-main .foot1-main-mid .mid-main .mid-main-right2 .piaoliu {
  display: inline-block;
  position: relative;
  left: -21px;
}
.foot1 .foot1-main .foot1-main-right {
  width: 20%;
}
.foot1 .foot1-main .foot1-main-right .long-string {
  height: 80px;
  width: 0;
  border-right: 1px solid white;
  margin-top: 75px;
}
.foot1 .foot1-main .foot1-main-right .joinus {
  width: 116px;
  height: 25px;
  background: transparent;
  color: #ffd000;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 52px;
  margin-left: 51px;
}
.foot1 .foot1-main .foot1-main-right p {
  font-size: 14px;
  color: #ccc;
  text-align: center;
  margin-top: 24px;
}
.foot1 .foot1-main .foot1-main-right .share {
  margin-top: 10px;
  height: 30px;
  margin-left: 32px;
}
.foot1 .foot1-main .foot1-main-right .share img {
  float: left;
  margin-right: 20px;
}
.foot2 {
  width: 100%;
  height: 61px;
  line-height: 61px;
  background: #333;
}
.foot2 .foot2-main {
  width: 81%;
  margin: 0 auto;
  font-size: 12px;
  color: #999;
}
.foot2 .foot2-main span {
  margin-right: 10px;
}
.foot2 .foot2-main span:last-child {
  position: relative;
  right: -174px;
}
